<u>Composant dashboard</u>
<h1 *ngIf="!preferedArticle">Aurélien s'en fou</h1>
<h1 *ngIf="preferedArticle">Aurélien préfére l'article {{ preferedArticle.titre }}</h1>
<div class="col-md-12" *ngFor="let article of articles">
  <!--
    Lien qui nous permettra une fois cliqué de se rendre sur la page article/:id.
    Exemple : je clique sur l'article qui à l'id 1, je serais redirigé sur la page localhost:4200/article/1
    Cette route doit exister dans le fichier app-routing.module.ts
  -->
<!--  <a [routerLink]="['/article', article.id]">-->
      <!--
        J'affiche mon composant app-article. Ce composant se trouve dans le fichier components/article/article.component.ts
        Il est trouvé grace à son selecteur (app-article). Il prend un Input (donnée en entrée).
        La donnée en entrée sera un article de type Article. Le fichier components/article/article.component.ts devra donc
        obligatoirement avoir @Input() article: Article
      -->
      <app-article
        (unsetPreferedArticleEvent)="unsetPreferedArticleFunction($event)"
        (preferedArticleEvent)="setPreferedArticle($event)"
        [preferedArticle]="preferedArticle"
        [article]="article"
      (deletedArticle)="refreshArticle()"></app-article>
<!--  </a>-->
</div>
