<div class="border-{{ article.type }}">
  <u>Composant article</u>
  <a [routerLink]="['/article', article.id]">
<h1>- {{ article.titre }}</h1>
  </a>
  <button *ngIf="preferedArticle != article" (click)="selectPreferedArticle()">Ceci est mon article préféré</button>
  <button *ngIf="preferedArticle == article" (click)="unsetPreferedArticle()">Enfait il est pas top</button>
  <button (click)="deleteArticle()">Supprimer cet article</button>
  <button [routerLink]="['/article/edit', article.id]">Editer cet article</button>
</div>
