<!--
Composant de base de notre application. Il contiendra tous nos composants.
Il contiendra le menu afin de permettre la navigation mais aussi la balise router-outlet.
La balise router-outlet permet d'afficher le composant correspondant à l'url demandée.
Cette url sera mise en relation via la variables routes dans app-routing.module.ts-->
<app-menu [title]="title"></app-menu>
<router-outlet></router-outlet>
