<h1><u>Les pipes natives</u></h1>
<h2>Test de la pipe percent</h2>
<h3><u>{{ percentValue|percent }}</u></h3>
<span>{{ percentValue }}</span>
<h2>Test pipe uppercase</h2>
<h3><u>{{ firstnameValue|uppercase }}</u></h3>
<span>{{ firstnameValue }}</span>
<h2>Test de la pipe JSON</h2>
<h3><u>{{ objectArticleValue|json }}</u></h3>
<h3><u>{{ objectArticleValue|json|uppercase }}</u></h3>
<h2>Test de la pipe Date</h2>
<h3><u>{{ dateValue|date: 'dd.MM.yyyy' }}</u></h3>
<h1><u>Pipe fabriqué</u></h1>
<h2>First char pipe </h2>
 <h3>{{ fullName | firstChar }}</h3>
