/* You can add global styles to this file, and also import other style files */
.border-black{
  border: 2px solid black;
}

.p20{
  padding: 20px;
}

.m20{
  margin: 20px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

