<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Les derniers articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sports" routerLinkActive="active">Les articles sport</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sante" routerLinkActive="active">Les articles santé</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="faits-divers" routerLinkActive="active">Les faits divers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pipes" routerLinkActive="active">Je veux apprendre à faire des pipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="article/add" routerLinkActive="active">Ajouter un article</a>
      </li>
    </ul>
  </div>
  {{ title }}
</nav>
