<div class="border-black m20 p20">
  <u>Ajouter un article</u>
  <form #articleForm="ngForm" (ngSubmit)="editArticle()">

    <div class="form-group">
      <label>Titre</label> <br>
      <input class="form-control" type="text" name="titre" required #articleTitle="ngModel"
             [(ngModel)]="articleToEdit.titre">
      <div [hidden]="articleTitle.valid"
           class="alert alert-danger">
        Le titre est requis
      </div>
    </div>

    <div class="form-group">
      <label>Contenu</label> <br>
      <textarea class="form-control" type="text" name="contenu" required #contenuArticle="ngModel"
                [(ngModel)]="articleToEdit.contenu"></textarea>
      <div [hidden]="contenuArticle.valid"
           class="alert alert-danger">
        Le contenu est requis
      </div>
    </div>

    <div class="form-group">
      <label>Type</label>
      <select class="form-control" #type="ngModel" name="type" required [(ngModel)]="articleToEdit.type">
        <option></option>
        <option *ngFor="let cat of typeDispo" [value]="cat">{{ cat }}</option>
      </select>
      <div [hidden]="type.valid"
           class="alert alert-danger">
        Le contenu est requis
      </div>
    </div>

    <div class="form-group">
      <label>Date</label> <br>
      <input class="form-control" type="date" name="dateAjout" required #articleDate="ngModel"
             [(ngModel)]="articleToEdit.dateAjout">

      <div [hidden]="articleDate.valid"
           class="alert alert-danger">
        La date de l'article est requise
      </div>
    </div>

    <div class="form-group">
      <label>Image</label> <br>
      <input class="form-control" type="text" name="image" required #articleImage="ngModel"
             [(ngModel)]="articleToEdit.image">

      <div [hidden]="articleImage.valid"
           class="alert alert-danger">
        Le titre est requis
      </div>
    </div>

    <input [disabled]="!articleForm.valid" class="btn btn-success" type="submit">
  </form>
</div>
